*,
*::before,
*::after {
  box-sizing: border-box;
}

.light {
    /** This is to make the select and input the same width */
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    box-sizing:content-box;

    display: block;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    width: 60%;
}

label {
    text-align: center;
    width: 100%;
    font-family: 'Exo 2', sans-serif;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 3%;
}

select, input[type=text] {
    outline: none;
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.5rem;
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #08f,
        0 0 0.8rem #08f,
        0 0 2.8rem #08f,
        inset 0 0 1.3rem #08f;
}

select:focus, input[type=text]:focus {
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #f40,
        0 0 0.8rem #f40,
        0 0 2.8rem #f40,
        inset 0 0 1.3rem #f40;
}