/* .dark, .answer {
    margin: auto;
    margin-top: 10px;
    padding: 5px 20px;
    border-radius: 25px;
    border: none;
    box-shadow: 2px 2px 0 rgba(152, 42, 130, 0.539);
    min-height: 40px;
}

.dark {
    width: 20%;
    background-color: blueviolet;
}

.answer {
    width: 60%;
    background-color: crimson;
} */

.neonText {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 5%;
    text-shadow: 
        -0.2rem -0.2rem 1rem #fff,
        0.2rem 0.2rem 1rem #fff,
        0 0 2rem #08f,
        0 0 4rem #08f,
        0 0 6rem #08f,
        0 0 8rem #08f,
        0 0 10rem #08f;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #08f,
        0 0 0.8rem #08f,
        0 0 2.8rem #08f,
        inset 0 0 1.3rem #08f;
}

.neonText:hover {
    text-shadow: 
        -0.2rem -0.2rem 1rem #fff,
        0.2rem 0.2rem 1rem #fff,
        0 0 2rem #cc1ab1,
        0 0 4rem #cc1ab1,
        0 0 6rem #cc1ab1,
        0 0 8rem #cc1ab1,
        0 0 10rem #cc1ab1;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #cc1ab1,
        0 0 0.8rem #cc1ab1,
        0 0 2.8rem #cc1ab1,
        inset 0 0 1.3rem #cc1ab1;
        cursor: pointer;
}

