.dark, .answer {
    margin: auto;
    margin-top: 10px;
    padding: 5px 20px;
    border-radius: 25px;
    border: none;
    box-shadow: 2px 2px 0 rgba(152, 42, 130, 0.539);
    min-height: 40px;
}

.dark {
    width: 20%;
    background-color: blueviolet;
}

.answer {
    width: 60%;
    background-color: crimson;
}

.neonText {
    width: 55%;
    font-size: 1.5rem;  /* I removed the media query and set the font size permanent. It messed up with the of selected buttons' sizes */
    font-family: 'Exo 2', sans-serif;
    margin: 15px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 15px;
    text-shadow: 
        -0.2rem -0.2rem 1rem #fff,
        0.2rem 0.2rem 1rem #fff,
        0 0 2rem #08f,
        0 0 4rem #08f,
        0 0 6rem #08f,
        0 0 8rem #08f,
        0 0 10rem #08f;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #08f,
        0 0 0.8rem #08f,
        0 0 2.8rem #08f,
        inset 0 0 1.3rem #08f;
}

.neonText:hover {
    text-shadow: 
        -0.2rem -0.2rem 1rem #fff,
        0.2rem 0.2rem 1rem #fff,
        0 0 2rem #c49a67,
        0 0 4rem #c49a67,
        0 0 6rem #c49a67,
        0 0 8rem #c49a67,
        0 0 10rem #c49a67;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #c49a67,
        0 0 0.8rem #c49a67,
        0 0 2.8rem #c49a67,
        inset 0 0 1.3rem #c49a67;
        cursor: pointer;
}

.neonText-clicked {
    width: 55%;
    font-size: 1.5rem;
    font-family: 'Exo 2', sans-serif;
    margin: 15px;
    background-color: lightblue;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 15px;
    text-shadow: 
        -0.2rem -0.2rem 1rem #fff,
        0.2rem 0.2rem 1rem #fff,
        0 0 2rem #08f,
        0 0 4rem #08f,
        0 0 6rem #08f,
        0 0 8rem #08f,
        0 0 10rem #08f;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #08f,
        0 0 0.8rem #08f,
        0 0 2.8rem #08f,
        inset 0 0 1.3rem #08f;
}

.neonText-correct {
    width: 55%;
    font-size: 1.5rem;
    font-family: 'Exo 2', sans-serif;
    margin: 15px;
    border: 1px solid white;
    background-color: lightgreen;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 15px;
    text-shadow: 
        -0.2rem -0.2rem 1rem #fff,
        0.2rem 0.2rem 1rem #fff,
        0 0 2rem lightgreen,
        0 0 4rem lightgreen,
        0 0 6rem lightgreen,
        0 0 8rem lightgreen,
        0 0 10rem lightgreen;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem lightgreen,
        0 0 0.8rem lightgreen,
        0 0 2.8rem lightgreen,
        inset 0 0 1.3rem lightgreen;
}

.neonText-correct-flash {
    width: 55%;
    font-size: 1.5rem;
    font-family: 'Exo 2', sans-serif;
    margin: 15px;
    border: 1px solid white;
    background-color: lightgreen;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 15px;
    text-shadow: 
        -0.2rem -0.2rem 1rem #fff,
        0.2rem 0.2rem 1rem #fff,
        0 0 2rem lightgreen,
        0 0 4rem lightgreen,
        0 0 6rem lightgreen,
        0 0 8rem lightgreen,
        0 0 10rem lightgreen;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem lightgreen,
        0 0 0.8rem lightgreen,
        0 0 2.8rem lightgreen,
        inset 0 0 1.3rem lightgreen;
    animation: flashCorrect 0.4s infinite linear;
}

/* I think this is a bit better flashing animation */
@keyframes flashCorrect {

    0% {
        background-color: lightgreen;
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: lightgreen;
    }
}

/* @keyframes flashCorrect {


    0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% {
        background-color: lightgreen;
    }

    5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
        background-color: green;
    }
} */

.neonText-incorrect {
    width: 55%;
    font-size: 1.5rem;
    font-family: 'Exo 2', sans-serif;
    margin: 15px;
    border: 1px solid white;
    background-color: red;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 15px;
    text-shadow: 
        -0.2rem -0.2rem 1rem #fff,
        0.2rem 0.2rem 1rem #fff,
        0 0 2rem red,
        0 0 4rem red,
        0 0 6rem red,
        0 0 8rem red,
        0 0 10rem red;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem red,
        0 0 0.8rem red,
        0 0 2.8rem red,
        inset 0 0 1.3rem red;
    animation: flashIncorrect 0.4s infinite linear;
}

@keyframes flashIncorrect {

    0% {
        background-color: red;
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: red;
    }
}

/* @keyframes flashIncorrect {

    0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% {
        background-color: lightcoral;
    }

    5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
        background-color: red;
    }
} */

/* Animate neon text */

@keyframes flicker {

    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {

        text-shadow: 
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem #08f,
            0 0 4rem #08f,
            0 0 6rem #08f,
            0 0 8rem #08f,
            0 0 10rem #08f;

        box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #08f,
            0 0 0.8rem #08f,
            0 0 2.8rem #08f,
            inset 0 0 1.3rem #08f;
    }

    20%, 24%, 55% {
        text-shadow: none;
        box-shadow: none;
    }
}

/* @media (min-width: 800px) {
    .neonText {
        font-size: 1.5.5rem;
    }
} */
