.root {
    background-image: url("../../assets/background.jpg");
    height: 80vh;  /* 100vh won't work as expected, because the navbar height is relative. That's why the actual height would be 100vh + navbar height. 80vh the approximate expected height */
    background-size: 2500px;
    padding-top: 100px;
    background-repeat: no-repeat;
}

label {
    text-align: center;
    width: 100%;
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 1.3rem; /* I think the 1rem was too small on large screen */
    margin-bottom: 10px;
}

select, input[type=text] {
    outline: none;
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 1rem; /* I think the 0.8rem was too small on large screen */
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #08f,
        0 0 0.8rem #08f,
        0 0 2.8rem #08f,
        inset 0 0 1.3rem #08f; 
}

select option {
    /* leave the default white font colour */
    background-color: #002258; /* same colour as the bricks in the background */
}

select:focus, input[type=text]:focus {
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #c49a67,
        0 0 0.8rem #c49a67,
        0 0 2.8rem #c49a67,
        inset 0 0 1.3rem #c49a67;
}

@media (min-width: 800px) {
    .root {
        padding-top: 150px;
    }
}

@media (min-width: 990px) {
    .root {
        padding-top: 50px;
        background-position: left;
        background-size: 4000px;
    }
}
