.neonText {
    color: black;
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {

    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {

        text-shadow: 
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem #c49a67,
            0 0 4rem #c49a67,
            0 0 6rem #c49a67,
            0 0 8rem #c49a67,
            0 0 10rem #c49a67;
    }

    20%, 24%, 55% {
        text-shadow: none;
    }
}

@media (min-width: 800px) {
    .neonText {
        font-size: 3rem;
    }
}

@media (min-width: 990px) {
    .neonText {
        font-size: 4rem;
    }
}
