.navContainer {
    /* background-image: url("../../assets/background.jpg");
    background-size: 4000px; */
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLinksContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mobileNavLinksContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 30vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    opacity: 0.9;
}

a {
    margin: 1%;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.5rem;
}

.mobileNavBar {
    display: none;
}

.neonText {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 0.4em;
    animation: neon .08s ease-in-out infinite alternate;
    /* text-shadow: 
        -0.2rem -0.2rem 1rem #fff,
        0.2rem 0.2rem 1rem #fff,
        0 0 2rem #08f,
        0 0 4rem #08f,
        0 0 6rem #08f,
        0 0 8rem #08f,
        0 0 10rem #08f;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #08f,
        0 0 0.8rem #08f,
        0 0 2.8rem #08f,
        inset 0 0 1.3rem #08f; */
}

/* .neonText:hover {
    text-shadow: 
        -0.2rem -0.2rem 1rem #fff,
        0.2rem 0.2rem 1rem #fff,
        0 0 2rem #c49a67,
        0 0 4rem #c49a67,
        0 0 6rem #c49a67,
        0 0 8rem #c49a67,
        0 0 10rem #c49a67;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #c49a67,
        0 0 0.8rem #c49a67,
        0 0 2.8rem #c49a67,
        inset 0 0 1.3rem #c49a67;
        cursor: pointer;
} */

@keyframes neon {
    from {
      text-shadow:
      0 0 6px rgba(202,228,225,0.92),
      0 0 30px rgba(202,228,225,0.34),
      0 0 12px rgba(30,132,242,0.52),
      0 0 21px rgba(30,132,242,0.92),
      0 0 34px rgba(30,132,242,0.78),
      0 0 54px rgba(30,132,242,0.92);
      box-shadow:
      0 0 6px rgba(202,228,225,0.92),
      0 0 30px rgba(202,228,225,0.34),
      0 0 12px rgba(30,132,242,0.52),
      0 0 21px rgba(30,132,242,0.92),
      0 0 34px rgba(30,132,242,0.78),
      0 0 54px rgba(30,132,242,0.92);
    }
    to {
      text-shadow:
      0 0 6px rgba(202,228,225,0.98),
      0 0 30px rgba(202,228,225,0.42),
      0 0 12px rgba(30,132,242,0.58),
      0 0 22px rgba(30,132,242,0.84),
      0 0 38px rgba(30,132,242,0.88),
      0 0 60px rgba(30,132,242,1);
      box-shadow:
      0 0 6px rgba(202,228,225,0.98),
      0 0 30px rgba(202,228,225,0.42),
      0 0 12px rgba(30,132,242,0.58),
      0 0 22px rgba(30,132,242,0.84),
      0 0 38px rgba(30,132,242,0.88),
      0 0 60px rgba(30,132,242,1);
    }
  }

@media (max-width: 990px) {
    .navbar {
        display: none;
    }

    .mobileNavBar {
        display: flex;
        align-items: center;
        /* background-color: red; */
    }

    .hamburger {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    .navLinksContainer {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        width: 100%;
        right: 0;
        /* background-color: grey; */
    }

}