.gamediv {
    padding-top: 150px;
    margin-top: 150px;
}

h1 {
    font-size: 1.5rem;
}

@media (min-width: 990px) {
    .gamediv {
        padding-top: 60px; /* I think it is pushed down a bit too much, I reduced from 80px */ 
        margin-top: 80px;
    }
}
